services/HelloWorldService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.talend.org/service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldService" targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.talend.org/service/">
			<xsd:element name="HelloWorldServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="HelloWorldServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="HelloWorldServiceOperationRequest">
		<wsdl:part element="tns:HelloWorldServiceOperationRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="HelloWorldServiceOperationResponse">
		<wsdl:part element="tns:HelloWorldServiceOperationResponse" name="parameters"/>
	</wsdl:message>

	<wsdl:portType name="HelloWorldServicePortType">
		<wsdl:operation name="HelloWorldServiceOperation">
			<wsdl:input message="tns:HelloWorldServiceOperationRequest"/>
			<wsdl:output message="tns:HelloWorldServiceOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloWorldServiceBinding" type="tns:HelloWorldServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="HelloWorldServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/HelloWorldServiceOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorldService">
		<wsdl:port binding="tns:HelloWorldServiceBinding" name="HelloWorldServicePort">
			<soap:address location="http://localhost:8090/services/HelloWorldService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>